# Archivos y carpetas generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de bases de datos
*.db
*.sqlite3

# Entorno virtual
venv/
.env

# Configuración de Docker
docker-compose.override.yml
*.env

# Logs y archivos temporales
*.log
*.tmp
*.out

# Archivos de configuración del IDE
.vscode/
.idea/

# Archivos y carpetas del sistema
.DS_Store
Thumbs.db

# Archivos relacionados con tests
.tox/
.nox/
coverage.*
.cache

# Módulos compilados de Cython
*.so

# Archivos y carpetas de Alembic (migraciones)
migrations/

# Archivos de documentación generados
site/
docs/_build/
